<h1>Productos de papelería</h1>

<div></div>

{{!-- Podes mandar el array de productos (como que css tiene que leer o titulo que tiene que poner) con una instancia del productmanager con su getproducts y en el handlebars un each que reciba ese array y haga algo con cada elemento del array, una lista, caras, e --}}