<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="nav.css">
</head>
<body>
    <nav class="navbar">
        <div class="navbar-logo">
            <a href="#" class="navbar-link">Inicio</a>
        </div>
        <ul class="navbar-menu">
            <li class="navbar-item"><a href="#" class="navbar-link">Bolígrafos</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Lápices</a></li>
            <li class="navbar-item"><a href="#" class="navbar-link">Otros</a></li>
        </ul>
        <div class="navbar-icons">
            <a href="#" class="navbar-icon"><img src="carrito-icon.png" alt="Carrito"></a>
            <a href="#" class="navbar-icon"><img src="usuario-icon.png" alt="Usuario"></a>
        </div>
    </nav>
</body>
</html>